@tailwind base;
@tailwind components;
@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-150 ease-out;
  }
}
@tailwind utilities;
@layer utilities {
  .filter-custom {
    filter: contrast(calc(13 / 44));
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

input {
  caret-color: #fd5b61;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fd5b61;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.room-item:hover
  .swiper-button-next:not(.swiper-button-next.swiper-button-disabled),
.room-item:hover
  .swiper-button-prev:not(.swiper-button-prev.swiper-button-disabled) {
  opacity: 1 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  font-size: 11px !important;
  font-weight: bold;
}

.swiper-wrapper {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0 !important;
  width: 30px !important;
  height: 30px !important;
  transition: all 0.03s;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  z-index: 100000 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.05);
  background-color: rgb(255, 255, 255);
}
.swiper-button-next:active,
.swiper-button-prev:active {
  transform: scale(0.95);
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
